@model IEnumerable<AlabanzaPage.Models.Cancion>

@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index2</h2>

<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UltimaVez)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>                        
            <td>
                @Html.DisplayFor(modelItem => item.UltimaVez)
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                        options<span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.Id })</li>
                        <li role="presentation" class="divider"></li>
                        <li>@Html.ActionLink("VerLetra", "VerLetra", new { id = item.Id }) </li>
                        <li>@Html.ActionLink("VerAcordes", "VerAcordes", new { id = item.Id })</li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
