@model AlabanzaPage.Models.Cancion

@{
    ViewBag.Title = "Letra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("Ver Acordes", "VerAcordes", new { id = Model.Id }) |
<h4>Letra</h4>

<fieldset class="form-horizontal">
    <button class="btn btn-sm btn-info" id="btnDetalles">detalles</button>
    <button class="btn btn-sm btn-info" id="btnOcultarDetalles">ocultar detalles</button>
    @*<legend>Cancion</legend>*@
    <div id="detalles" class="form-group">
        <label class="control-label"><b>Nombre</b></label>
        <div class="display-label">
            @Html.DisplayFor(model => model.Nombre)
        </div>
        <label><b>Tipo:</b></label>
        <div class="display-label">
            @Html.DisplayFor(model => model.Tipo)
        </div>
        <div class="display-label">
            <label><b>Letra</b></label>
        </div>
    </div>
    <hr />
    <div class="display-field">
        <div id="letra">
            @Html.Raw(Model.Letra)
        </div>
    </div>

</fieldset>
<p>
    @Html.ActionLink("Volver a la Lista", "Index")
</p>

<script>
    $(document).ready(function () {
        $('#detalles').hide();
        $('#btnOcultarDetalles').hide();
        $('#btnOcultarDetalles').click(function () {
            $('#btnDetalles').show(500);
            $('#detalles').hide(500);
            $('#btnOcultarDetalles').hide(500);

        });
        $('#btnDetalles').click(function () {
            $('#btnOcultarDetalles').show(500);
            $('#detalles').show(500);
            $('#btnDetalles').hide(500);
        });
    });
</script>