@using AlabanzaPage.Tools
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
        
    <link href="~/Content/bootstrap.yeti.min.css" rel="stylesheet" />
    <link href="~/Content/hover.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    <script src="~/Scripts/jquery-2.1.0.min.js"></script>
    
</head>
<body>
    <!-- Nav Bar -->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="../" class="navbar-brand">Alabanza</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li class="pop">
                        @Html.ActionLink("Home", "Index","Home")
                    </li>
                    <li class="dropdown pop">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Canciones<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Listado Completo", "Index", "Cancion")</li>
                            @Html.ValidatedListActionList(Request, "Añadir", "Create", "Cancion")
                        </ul>
                    </li>
                    <li class="dropdown pop">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Lista<span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            <li>@Html.ActionLink("Lista Activa", "Index", "Lista")</li>
                            @Html.ValidatedListActionList(Request, "Nueva", "Create", "Lista")
                            @Html.ValidatedListActionList(Request, "Editar Lista", "Edit", "Lista")
                        </ul>
                    </li>
                    <li class="pop">
                        @Html.ActionLink("Usuarios", "Index","Usuario")
                    </li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right nav-tabs-justified">
                    <li>@Html.Partial("_LogOnPartial")</li>                    
                </ul>
            </div>
        </div>
    </div>

    <!-- End Nav -->
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                    @*<h3 class="pulse">Nombre del grupo</h3>
                    <p>Iglesia Cristiana Pagiel</p>*@
            </div>
        </div>
    </div>

    <div class="container fill" ><!--modal-container-->
        <div class="row">
            <div id="map">
                <div class="col-lg-2 visible-lg">
                    <div>
                        <h3 class="pulse">Nombre del grupo</h3>
                        <p>Iglesia Cristiana Pagiel</p>
                    </div>
                    <div id="carousel-instruments" class="carousel slide visible-lg" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img src="~/Content/Images/Carrusel/Custom_Les_Paul_Standard_Quilt_Korina_Transparent_Black_CS11258_1.000.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/Images/Carrusel/motif_07.Stage.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                            <div class="item">
                                <img src="~/Content/Images/Carrusel/music.bass_00388509.jpg" />
                                <div class="carousel-caption">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    @RenderBody()                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="panel-footer">Iglesia Cristiana Pagiel 2014</div>
        </div>
    </div>

    @*@RenderSection("scripts", required: false)*@

    @*@Scripts.Render("~/bundles/thirdparties")*@
    @*@Scripts.Render("~/bundles/knockout")*@

    <script src="~/Scripts/underscore-min.js"></script>
    <script type='text/javascript' src="~/Scripts/moment.min.js"></script>
    <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type='text/javascript' src="http://imsky.github.io/holder/holder.js"></script>
    <script type='text/javascript' src="~/Scripts/knockout-2.2.0.js"></script>
    <script src="~/Scripts/KnockoutModel/lista_model.js"></script>
    <script src="~/Scripts/KnockoutModel/cancion_model.js"></script>
    <script src="~/Scripts/knockoutViewModel/lista_viewmodel.js"></script>
    <script src="~/Scripts/knockoutViewModel/cancion_viewmodel.js"></script>
    <script type='text/javascript' src="~/Scripts/HelperPage.js"></script>

    <script type="text/javascript" >
         $(document).ready(function() {        
             $('.carousel').carousel()
         });
    </script>    
</body>
</html>





